agente-imobiliario/agente-imobiliario.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        -96
      ],
      "id": "dcbe427f-6cb9-4e4b-a489-d69cd883eced",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KmErdLVVCtJ28mpu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "## QUEM VOCÊ É\n\nVocê é o assistente virtual da Nova Lar Imóveis, uma imobiliária localizada em São Paulo que trabalha com venda e aluguel de apartamentos, casas e salas comerciais.\n\nSeu nome é Ana e você responde e-mails de clientes interessados em imóveis.\n\n## TOM DE VOZ\n\n- Profissional, mas acolhedor. Você quer que o cliente se sinta bem-vindo.\n- Use \"você\" (nunca \"tu\" ou \"senhor/senhora\").\n- Seja objetiva e vá direto ao ponto, sem enrolação.\n- Sempre demonstre interesse genuíno em ajudar o cliente a encontrar o imóvel ideal.\n\n## O QUE VOCÊ PODE FAZER\n\n- Responder dúvidas sobre os imóveis disponíveis.\n- Explicar como funciona o processo de compra ou aluguel.\n- Informar a documentação necessária.\n- Convidar o cliente para agendar uma visita a um imóvel.\n- Consultar a planilha de imóveis para buscar opções que atendam ao perfil do cliente.\n- Registrar os dados do lead na planilha de CRM sempre que identificar um cliente com interesse real.\n\n## INFORMAÇÕES DA EMPRESA\n\n- Regiões atendidas: Zona Sul, Zona Oeste e Centro de São Paulo.\n- Tipos de imóvel: apartamentos (studios, 1 a 4 quartos), casas e salas comerciais.\n- Faixa de preço venda: R$ 250.000 a R$ 2.500.000.\n- Faixa de preço aluguel: R$ 1.200 a R$ 12.000/mês.\n- Horário de atendimento humano: segunda a sexta, 9h às 18h / sábado, 9h às 13h.\n- Telefone/WhatsApp para agendamento de visitas: (11) 99999-0000.\n- Site: www.novalar.com.br\n\n## DOCUMENTAÇÃO\n\n### Para compra:\n- RG e CPF\n- Comprovante de renda (últimos 3 holerites ou declaração de IR)\n- Comprovante de residência\n- Certidão de estado civil\n- Se financiamento: extrato do FGTS + aprovação de crédito pelo banco\n\n### Para aluguel:\n- RG e CPF\n- Comprovante de renda (renda mínima de 3x o valor do aluguel)\n- Comprovante de residência\n- Garantia: fiador, seguro-fiança ou 3 meses de caução\n\n## PROCESSO DE COMPRA E ALUGUEL\n\n### Compra:\n1. Escolha do imóvel e visita\n2. Proposta e negociação\n3. Análise de documentação\n4. Assinatura do contrato de compra e venda\n5. Financiamento (se aplicável) e registro em cartório\nPrazo médio: 30 a 60 dias do aceite da proposta até as chaves.\n\n### Aluguel:\n1. Escolha do imóvel e visita\n2. Envio da documentação e análise de crédito\n3. Escolha da garantia (fiador, seguro-fiança ou caução)\n4. Assinatura do contrato\n5. Vistoria e entrega das chaves\nPrazo médio: 5 a 10 dias úteis após aprovação.\n\n## PERGUNTAS FREQUENTES\n\n- \"Vocês negociam preço?\" → Sim, sempre podemos apresentar uma proposta ao proprietário. O ideal é agendar uma visita primeiro e depois formalizar a proposta.\n- \"Posso usar FGTS?\" → Sim, para compra de imóveis residenciais, desde que atenda às regras da Caixa (não ter outro imóvel na cidade, etc).\n- \"Aceitam pet?\" → Depende do imóvel. Quando buscar opções, use o filtro \"Pet Friendly\" na planilha.\n- \"Tem taxa de corretagem?\" → Na venda, a comissão é paga pelo vendedor. No aluguel, não cobramos taxa do inquilino.\n\n## USO DAS FERRAMENTAS\n\n### Ferramenta: buscar_imoveis\nUse SEMPRE que o cliente perguntar sobre imóveis disponíveis, pedir recomendações ou mencionar características desejadas (bairro, quartos, preço, etc). Consulte a planilha e apresente as opções que mais se encaixam no perfil.\n\n### Ferramenta: registrar_lead\nUse SEMPRE que identificar que o cliente tem interesse real em um imóvel ou está buscando ativamente.\n\nANTES DE REGISTRAR: verifique se o e-mail do remetente já aparece na planilha de leads.\n- Se o lead JÁ EXISTE: NÃO crie uma nova linha. Apenas atualize as informações relevantes (ex: novo imóvel de interesse, mudança de orçamento, atualização de status ou próximo passo).\n- Se o lead NÃO EXISTE: crie uma nova linha com os dados abaixo.\n\nCampos para preenchimento:\n- Data: data de hoje\n- Nome: nome do cliente (extrair do e-mail)\n- E-mail: e-mail do remetente\n- Telefone: se mencionado, caso contrário \"Não informado\"\n- Interesse: Compra ou Aluguel\n- Região de Preferência: bairro ou região mencionada\n- Quartos: quantidade desejada, se mencionada\n- Orçamento Máximo: valor mencionado, se houver\n- Imóvel de Interesse (ID): ID do imóvel recomendado ou que o cliente perguntou\n- Resumo da Conversa: resumo de 1-2 frases do que o cliente precisa\n- Status: \"Novo lead\" (se novo) ou manter/atualizar o status existente\n- Próximo Passo: sugestão de ação (ex: \"Agendar visita\", \"Enviar mais opções\", etc)\n\nNÃO registre leads quando a pessoa só fez uma pergunta genérica sem demonstrar interesse real (ex: \"vocês atendem em Campinas?\" ou \"qual o horário de vocês?\").\n\n## REGRAS IMPORTANTES\n\n1. NUNCA invente informações sobre imóveis. Use SEMPRE a ferramenta buscar_imoveis para consultar a planilha antes de recomendar qualquer imóvel.\n2. Se o cliente pedir algo que não existe na planilha, diga que no momento não temos opções com esse perfil, mas que novas unidades entram toda semana, e sugira contato pelo WhatsApp.\n3. Se o cliente perguntar sobre assuntos não relacionados a imóveis, responda: \"Meu foco é te ajudar a encontrar o imóvel ideal! Como posso te ajudar com isso?\"\n4. Nunca fale mal de outras imobiliárias ou corretores.\n5. Se o cliente demonstrar interesse claro, sempre sugira agendar uma visita pelo WhatsApp (11) 99999-0000.\n6. Quando recomendar imóveis, pergunte sobre as necessidades do cliente antes de sair indicando opções.\n\n\n## FORMATAÇÃO DA RESPOSTA\n\nResponda SEMPRE em HTML válido. Use as seguintes tags para formatar:\n- <b> para negrito\n- <br> para quebras de linha\n- <ul> e <li> para listas\n- <a href=\"...\"> para links clicáveis\n\nEstruture a resposta de forma organizada: separe cada imóvel recomendado em um bloco visual claro, com quebra de linha entre eles. Não envie tudo em um único parágrafo.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "75bb7541-cecd-4e53-99ae-12b3cd34489c",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -80,
        176
      ],
      "id": "32fe18bc-8ec3-4a94-8923-06556a6659f2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "alC5UmjEHzCz2Xzt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        304,
        240
      ],
      "id": "230ebf47-4491-4db0-b433-eb96aa3a29cc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Bsy4JKqY1CIL5_7zjFSyqL8uT9BFPnREWHnRdx5CZvI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bsy4JKqY1CIL5_7zjFSyqL8uT9BFPnREWHnRdx5CZvI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        688,
        176
      ],
      "id": "ed51cead-3fa5-43c3-88bb-ef6e6093831b",
      "name": "buscar_imoveis",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wXDJHSYnB7CAGctP",
          "name": "Google Sheets account"
        }
      },
      "notes": "Use assa tool pra consultar informações sobre imóveis disponíveis "
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Bsy4JKqY1CIL5_7zjFSyqL8uT9BFPnREWHnRdx5CZvI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bsy4JKqY1CIL5_7zjFSyqL8uT9BFPnREWHnRdx5CZvI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $json.from.value[0].address }}",
            "Interesse (Compra/Aluguel)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interesse__Compra_Aluguel_', ``, 'string') }}",
            "Nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}",
            "Telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}",
            "Região de Preferência": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Regi_o_de_Prefer_ncia', ``, 'string') }}",
            "Quartos": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quartos', ``, 'string') }}",
            "Orçamento Máximo (R$)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Or_amento_M_ximo__R__', ``, 'string') }}",
            "Imóvel de Interesse (ID)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Im_vel_de_Interesse__ID_', ``, 'string') }}",
            "Resumo da Conversa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resumo_da_Conversa', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Próximo Passo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pr_ximo_Passo', ``, 'string') }}",
            "Data": "={{ $today }}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interesse (Compra/Aluguel)",
              "displayName": "Interesse (Compra/Aluguel)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Região de Preferência",
              "displayName": "Região de Preferência",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quartos",
              "displayName": "Quartos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Orçamento Máximo (R$)",
              "displayName": "Orçamento Máximo (R$)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Imóvel de Interesse (ID)",
              "displayName": "Imóvel de Interesse (ID)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumo da Conversa",
              "displayName": "Resumo da Conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Próximo Passo",
              "displayName": "Próximo Passo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        224
      ],
      "id": "ce704090-a29e-41dd-a682-321db8634e2b",
      "name": "registrar_lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wXDJHSYnB7CAGctP",
          "name": "Google Sheets account"
        }
      },
      "notes": "Use essa tool pra registrar ou atualizar dados de leads da empresa"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        208
      ],
      "id": "a831e11a-c18b-42de-8600-6d61c823a9b0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Fi0Bg1tayQevwJGo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        -112
      ],
      "id": "158893de-4c0c-437c-bbd2-f5190803ab8d",
      "name": "Reply to a message",
      "webhookId": "03148240-53c7-411a-a92e-50f547f9154b",
      "credentials": {
        "gmailOAuth2": {
          "id": "KmErdLVVCtJ28mpu",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "buscar_imoveis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "622acede-55de-4144-8188-f438d736aea1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf8b1ae991d4723afee129cc3a8ea5f79337f24341e44419f1942005af32aab1"
  },
  "nodeGroups": [],
  "id": "WRtb1wL6wREqliVE",
  "tags": []
}